html, body, header {
	height: 100%;
}

body{
	margin: 0px;
}

nav {
	color: white;

}


nav ul {
	display: flex;
    justify-content: space-evenly;
    padding-left: 38%;
    font-size: 1.3em;
}
nav ul li{
	list-style: none;
	display: inline;
	float: right;
}

li a, li a:hover {
	color: white;
}

main {
	background-image:url(./images/3147.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.welcome_section {
	position: absolute;  
  	min-height: 100%;
  	min-width: 100%;
  	background-image: url('./images/horizon_cover.jpg');

  	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inner_container {
	text-align: center;
    position: absolute;
    top: 45%;
    width: 100%;
    color: white;
}

.main_title {
	font-size: 4.0em
}

.subtitle {
	font-size: 2.5em	
}

.about_me_section {
	text-align: center;
	position: relative;
	top: 0;
}

.about_me_title {
	text-decoration: underline;
	font-size: 2.5em;
}

.projects_section {
	text-align: center
}

.project_sidebar {
	background-color: 
}

.project_1_info {
	background-color: 
}
.project_2_info {
	background-color: 
}
.project_3_info {
	background-color: 
}

.contact_me_section {
	text-align: center;
	background-color: 
}

footer{
	text-align: center;
	background-color: #bcbcbc;
}