html, body, header {
	height: 100%;
}

body{
	margin: 0px;
}

li a, li a:hover {
	color: white;
}

main {
	background-image:url(./images/3147.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h4 {
	font-size: 2.1em;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Teko', sans-serif;
}

p {
	font-size: 1.3em;
	padding: 0% 5%;
	font-family: 'Sumana', serif;
}

/*.section_divider hr{
	margin-top: 0px;
}*/

.welcome_section {
	position: absolute;  
  	min-height: 100%;
  	min-width: 100%;
  	background-image: url('./images/horizon_cover.jpg');  	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inner_container {
	text-align: center;
    top: 17%;
    width: 100%;
    color: black;
    padding: 0% 5%;
}

.nav_buttons {
    font-size: 1.3em;
    padding-top: 2%;
}

.button_link {
	display: block;
	margin: 20px auto;
	font-size: 1.2em;
	font-family: 'Kanit', sans-serif;
}


.section_divider hr{
	border: 2px solid black; 
	border-radius: 30%;
	width: 90%;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
	width: 60%;
}

.main_title {
	font-size: 4.0em;
	font-family: 'Patua One', cursive;
}

.subtitle {
	font-size: 2.5em;
	font-family: 'Kanit', sans-serif;
}

.section_title {
	font-size: 2.5em;
	text-decoration: underline;
	font-family: 'Patua One', cursive;
}


.about_me_info {
	text-align: center;
	width: 100%;
}

.bitmoji_hi {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	width: 50%;
	max-width: 370px;
}

.projects_section {
	text-align: center
}

.my_projects_header{
	font-size: 2.5em;
	font-family: 'Patua One', cursive;
}

.project_span_title {
	text-decoration: underline;
}

.project_sidebar a {
	font-size: 1.2em;
}

.anchor_color {
	color: #007bff ;
}

.project_title {
	font-size: 3.0em;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Teko', sans-serif;
}

.project_screenshot {
	border: 2px solid black;
	margin-bottom: 10px;
	max-width: 900px;

}

.view_app_title, .view_code_title {
	font-size: 1.7em;
	font-weight: bold;
	font-family: 'Teko', sans-serif;
}

.contact_me_section {
	text-align
	height: 200px;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('./images/simple_cover.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.section_title.black_background {
	background-color: black;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 3.5em;
}

.contact_container {
	text-align: center;
}

.contact_card {
    width: 60%;
    max-width: 351px;
    max-height: 200px;
}

.contact_links_container {
	padding-bottom:20px ;
}

.blue_anchor_font {
	color: #D15354;
	font-weight: bold;
}

.contact_icon {
	margin-left: 20px;
	margin-right: 20px;
}

footer{
	font-size: 1.2em;
	text-align: center;
	background-color: black;
	color: #ddd;
	font-family: 'Teko', sans-serif;
}

footer a {
	color: white;
}

@media(min-width: 385px) {
	.inner_container {
		position: absolute;
	}
}

@media(min-width: 700px) {
	.contact_info {
		width: 56%;
	}
}

@media(min-width: 850px) {
	.nav_buttons {
		display: flex;
		justify-content: space-between;
		padding-top: 1%;
		font-size:1.4em;
	}
	.button_link {
		width: 20%;
	}


	.image_container {
		float: left;
		width: 50%;
		height: 540px;
		display: flex;
		padding-left: 5%;
	}
	.image_container.right {
		float: right;
		width: 50%;
		height: 540px;
		display: flex;
		padding-right: 4%;
		padding-left: 2%
	}

	.bitmoji_hi {
		border-bottom: none;
		width: 100%;
		max-width: none;
	}

	.about_me_title, .project_title, .about_me_description, .project_description {
		float: right;
		width: 50%;
		clear: right;
	}

	.project_title.left, .project_description.left {
		float:left;
		clear: none;
		padding-left: 10%;
		padding-right: 5%;
	}

	.image_container.reduced {
		height: 340px;
	}

	hr, .tech_title{
		clear: both;
	}

	.project_screenshot {
		width: 100%;
	}

	.technologies_list {
		clear:both;
		width: 50%;
		float: left;
		padding-left: 5%;
	}

	.view_app_title {
		display: inline;
	}

	.app_links {
		width: 50%;
    	float: right;
    	padding: 0% 5%;
    	display: flex;
    	justify-content: space-evenly;
    	align-items: center;
	}
}


@media(min-width: 1120px) {
	.image_container {
		height: 480px;
	}	
	.image_container.reduced {
		height: 390px;
	}
	.app_links {
		height: 175px;
		padding-right: 11%;
    	padding-left: 5%;
	}
}

@media(min-width: 1350px) {
	.image_container, .technologies_list {
		width: 46%;
    	margin-left: 50px;
	}	

	.image_container.right {
		width: 46%;
		margin-right: 50px;
		margin-left: 0px;
	}
}